@import 'https://fonts.googleapis.com/css?family=Inconsolata';
html, body{
	margin:0;
	color:#2e3436;
	font-family:Avenir;
	font-size:1.1em;
	padding:15px;
}

span{
	padding:2.5px;
}
.poster{
	background-color:#babdb6;
}
.poster .poster, .neuralnet .neuralnet, .genreID .genreID, .instID .instID, .mir .mir{
	background-color:white;
	color:#2e3436;
}
.neuralnet{
	background-color:#8ae234;
}
.genreID{
	background-color:#729fcf;
}
.instID{
	background-color:#fcaf3e;
}
.mir{
	background-color:#ad7fa8;
	color:#eeeeec;
}
.code, a.code:link, a.code:visited, a.code:active{
	background-color:#888a85;
	color:#eeeeec;
	font-family:"Inconsolata", monospace;
	border-bottom-color:#babdb6;
}

ul{
	list-style-type:square;
}

a:link, a:visited, a:active{
	color:#2e3436;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	padding-bottom:0px;

	-webkit-transition:border-color .25s ease-in-out;
	transition:border-color .25s ease-in-out;
}
a.citation:link, a.citation:visited, a.citation:active{
	padding:1px 5px;
	border-bottom-color:#babdb6;
}
a:link:hover, a:link:focus, a.citation:link:hover, a.citation:link:focus, a:visited:hover, a:visited:focus, a.citation:visited:hover, a.citation:visited:focus{
	border-bottom-color:#2e3436;
}