@import 'https://fonts.googleapis.com/css?family=Inconsolata';
html, body{
	margin:0;
	color:#2e3436;
	font-family:Avenir;
	font-size:1.1em;
	padding:15px;
}

span{
	padding:2.5px;
}
.poster{
	background-color:#babdb6;
}
.poster .poster, .neuralnet .neuralnet, .genreID .genreID, .instID .instID, .mir .mir{
	background-color:white;
	color:#2e3436;
}
.neuralnet{
	background-color:#8ae234;
}
.genreID{
	background-color:#729fcf;
}
.instID{
	background-color:#fcaf3e;
}
.mir{
	background-color:#ad7fa8;
	color:#eeeeec;
}
.code{
	background-color:#888a85;
	color:#eeeeec;
	font-family:"Inconsolata", monospace;
}
.citation::after{
	content: "\2020";
	font-size:0.65em;
	vertical-align: super;
}
.citation::before{

}

ul{
	list-style-type:square;
}

a:link, a:visited, a:active{
	color:#2e3436;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	padding-bottom:0px;
	-webkit-transition:border-color .25s ease-in-out;
	transition:border-color .25s ease-in-out;
}
a:link:hover, a:link:focus{
	border-color:#2e3436;
}